################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/SitRep/bin/Debug
/SitRep/obj
/SitRep/bin/Release
